*{
    padding: 0;
    margin: 0;    
    font: 'Raleway' !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h2{ 
  text-align: center; 
  font-weight: lighter;
  margin-bottom: 10px;
}
img{
  border: 0;
}
#nuwa, #sobre, #historia, #desenvolvedores, #produtos, #contato, b{
  background-color: white;
}
/* menu */
nav{
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 0 0 0.5em black;
    z-index: 999;
}
#bntMenuLogo{
    float: left;
    width: 14.28%;
    height: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border: none;
}

#logo{
    
    min-width: 80px;
    height: 100%;
    min-height: 80px;
}

nav ul{
    width: 85.72%;
    height: 100%;
    float: left;
}

nav ul li{
    float: left;
    width: 14%;
    height: 100%;
    text-align: center;
    list-style: none;    
}

#imgBtnMenuTemaEscuro{
    height: 50%;
}

#btnMenuTemaEscuro:hover{
    border-bottom: 0px solid white;
}

nav ul li button{
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border: none;
}

nav ul li button:hover{
    transition: .3s ease;
    color: #0066FF;
    border-bottom: 2px solid #0066FF;
}

.bntMenuResponsivoCheckbox{
    line-height: 80px;
    margin-left: 93%;
    font-size: 30px;
    display: none;
    position: fixed;
    z-index: 999;
}

#menuResonsivoCheckbox{
    display: none;
    z-index: 999;
}
@media(max-width: 952px){
   
    nav ul li button{
        font-size: 0.9rem;
    }
}

@media(max-width: 858px){
    
    .bntMenuResponsivoCheckbox{
        display: block;
        z-index: 999;
    }
    nav ul{
        
        margin: 60%;
        margin-top: 80px;
        position: fixed;
        width: 40%;
        height: 85%;
        transition: all .5s;
    }
    nav ul li{
        width: 100%;
        height: 15%;
    }
    nav ul li button{
        background-color: #ededed;
    }
    nav ul li button:hover{
        color: #0066FF;
        border-bottom: 2px solid #0066FF;
        border-top: 2px solid  #dcdcdc;
    }

    #menuResonsivoCheckbox:checked ~ .ulMenu{
        display: none;
    } 
}
@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}
/* Slider */
#carrossel{
  margin: 0 auto;
  width: 100%;
  padding-top:75px;
  height: 100vh;
  display: flex;
  justify-content: center;
  
  background-color:white;
}
.img-slider{
  position: relative;
  width: 100%;
  height: 500px;
  
  background:white;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
  height: 500px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: white;
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: gray;
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #0066FF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 820px){
  .img-slider{
    width: 100%;
    height: 500px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
  #titulo{
    top: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 100%;
    height: 500px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
  #titulo{
    top: 10%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 100%;
    height: 500px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
  
}
h1{
  text-align: center;
}
#titulo{
  margin: 0;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Sobre, História e Produtos */

#textoHistoria{
  padding-top: 8%;
}

#textoSobre{
  padding-top: 8%;
}

#textoProdutos{
  padding-top: 8%;
}

.txt{
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
}

.titulosH2{
  font-size: 40px;
}

.textoComImagem {
  display: flex;
}

.textoComImagemFilho {
  flex: 1;
  width:50%;
}
.textoComImagemFilho:textoComImagemFilho1 {
  margin-right: 20px;
} 
.textoComImagem img{
  max-width: 100%;
}
.textoComImagem p{
  text-align: justify;
  -moz-text-align-last: justify; 
  text-align-last: justify;
  padding: 10px;
}
@media (max-width:800px){
  .textoComImagem{
    flex-direction: column;
    align-items: center;
  }
  .textoComImagemFilho{
    width: 100%;
    max-width: 100%;
  } 
}

/* Desenvolvedores */
#desenvolvedores{
  border: 20px solid white;
}
.fileira{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.desenvolvedorFileira1{
  position: relative;
  flex: 1;
  max-width: 300px;
  height: 230px;
  margin: 10px;
}
.desenvolvedorFileira2{
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 230px;
  margin: 10px;
}
.divDesenvolvedor{
  text-align:center;
}
.imagemDesenvolvedor{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.nomeDesenvolvedor{
  text-decoration: none;
  color: black;
  font-size: larger;
}

@media (max-width:800px){
  .desenvolvedorFileira1{
    flex: 100%;
    max-width: 600px;
  }

  .desenvolvedorFileira2{
    flex: 100%;
    max-width: 600px;
  }
  
}
/* footer */
#contato{
  z-index: 999;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  text-align:center;
  box-shadow: 0 0 0.5em black;
}

.infoContato{
  font-size: 20px;
}
/* Modo escuro */
html[data-theme='dark'] {
  background: #2222;
  filter: invert(1) hue-rotate(180deg)
}
html[data-theme='dark'] img {
  filter: invert(1) hue-rotate(180deg)
}


